{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <title>
            MediaSense|Home
        </title>
    </head>
    <body><div class="clearfix">
        <div id="twitter">
            <h1 class="big-text">Twitter</h1>
            <img class="circ-img" src="{% static 'Images/twitter.png' %}">
            <div class="trending">
                <h2 class="small-text">Trending</h2>
                <table class="table table-dark">
                {% for hashtag,url in twitter_trends %}
                    <tr>
                        <td>
                            <a href="{{ url }}" target="blank">{{ hashtag }}</a>
                        </td>    
                    </tr>
                {% endfor %}
                </table>
            </div>
        </div>
        <div id="google">
            <h1 class="big-text">Google+</h1>
            <img class="circ-img" src="{% static 'Images/gplus.jpg' %}">
            <div class="trending">
                <h2 class="small-text">Trending</h2>
                <table class="table table-dark">
                {% for hashtag,url in gplus_trends %}
                    <tr>
                        <td>
                            <a href="{{ url }}" target="blank">{{ hashtag }}</a>
                        </td>
                    </tr>
                {% endfor %}
                </table>
            </div>
        </div>
        <div id="tumblr">
            <h1 class="big-text">Tumblr</h1>
            <img class="circ-img" src="{% static 'Images/tumblr.png' %}">
            <div class="trending">
                <h2 class="small-text">Trending</h2>
                <table class="table table-dark">
                {% for hashtag,url in tumblr_trends %}
                    <tr>
                        <td>
                            <a href="{{ url }}" target="blank">{{ hashtag }}</a>
                        </td>
                    </tr>
                {% endfor %}
                </table>
            </div>
        </div>
        <div class="search-btn">
            <a href ="{% url 'search' %}"><h5 style="color:white ; margin-top:18px;">Search</h5></a>
        </div>
        </div>
    </body>
</html>

