{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
        <title>
            MediaSense|Home
        </title>
    </head>
    <body>
    <div class="nav_container">
		<a href="{% url 'index' %}"><span class="glyphicon glyphicon-home"></span><span class="nav_text">Home</span></a>
  		<a href="{% url 'search' %}"><span class="glyphicon glyphicon-search"></span><span class="nav_text">Search</span></a>
  		<a href="{% url 'about_us' %}"><span class="glyphicon glyphicon-info-sign"></span><span class="nav_text">About</span></a>
	</div>
    <div class="clearfix">
        <div id="twitter">
            <h1 class="big-text twitter_shadow">Twitter</h1>
            <img class="circ-img" src="{% static 'Images/twitter.png' %}">
            <div class="trending">
                <table>
                <tr>
                        <th>
                            <h2 class="small-text">Trending</h2>
                        </th>
                </tr>
                {% for hashtag,url in twitter_trends %}
                    <tr>
                        <td>
                            <a class="table_anchor" href="{{ url }}" target="_blank">{{ hashtag }}</a>
                        </td>    
                    </tr>
                {% endfor %}
                </table>
            </div>
        </div>
        <div id="google">
            <h1 class="big-text google_shadow">Google+</h1>
            <img class="circ-img" src="{% static 'Images/gplus.jpg' %}">
            <div class="trending">
                <table>
                <tr>
                        <th>
                            <h2 class="small-text">Trending</h2>
                        </th>
                </tr>
                {% for hashtag,url in gplus_trends %}
                    <tr>
                        <td>
                            <a class="table_anchor" href="{{ url }}" target="_blank">{{ hashtag }}</a>
                        </td>
                    </tr>
                {% endfor %}
                </table>
            </div>
        </div>
        <div id="tumblr">
            <h1 class="big-text tumblr_shadow">Tumblr</h1>
            <img class="circ-img" src="{% static 'Images/tumblr.png' %}">
            <div class="trending">
                <table>
                <tr>
                        <th>
                            <h2 class="small-text">Trending</h2>
                        </th>
                </tr>
                {% for hashtag,url in tumblr_trends %}
                    <tr>
                        <td>
                            <a class="table_anchor" href="{{ url }}" target="_blank">{{ hashtag }}</a>
                        </td>
                    </tr>
                {% endfor %}
                </table>
            </div>
        </div>
        </div>
    </body>
</html>

