{% load staticfiles %}
<!DOCTYPE HTML>
<html>
    <head>
        <title>MediaSense|Form Page</title>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/search.css' %}">
        {% block extra_head %}{% endblock %}
    </head>
    <body>
        <div class="nav_container">
		    <a class="active" href="{% url 'index' %}"><span class="glyphicon glyphicon-home"></span><span class="nav_text">Home</span></a>
  		    <a href="{% url 'search' %}"><span class="glyphicon glyphicon-search"></span><span class="nav_text">Search</span></a>
  		    <a href="{% url 'about_us' %}"><span class="glyphicon glyphicon-info-sign"></span><span class="nav_text">About</span></a>
	</div>
        <div id="wordform">
            <form id="search_form" action="{% url 'get_params' %}" method="POST">
                {% csrf_token %}
                <label for="search">Search:</label>
                <input type="text" id="search" name="search">
                <div id="params">
				<div id="check">
                    <div class="contain">
                    <input type="checkbox" name="twitter" id="checkbox1" value="abc"><label for="checkbox1"><span class="checktext">Twitter</span></label>
                    </div>
                    <div class="contain">
                    <input type="checkbox" name="gplus" id="checkbox2" value="abc"><label for="checkbox2"><span class="checktext">Google+</span></label>
                    </div>
                    <div class="contain">
                    <input type="checkbox" name="tumblr" id="checkbox3" value="abc"><label for="checkbox3"><span class="checktext">Tumblr</span></label>
                    </div>
					</div>    
                    <div id="dropdown">
                    <label for="category1">Main Category:</label>
                    <select name="Main_Category" id="main_category">
                        <option value="1">Sports</option>
                        <option value="2">News</option>
                        <option value="3">Entertainment</option>
                        <option value="4">Lifestyle</option>
                        <option value="5">Business</option>
                    </select>
                    <label for="category2">Sub Category:</label>
                    <select name="Sub_Category" id="sub_category">
                        <option value="10">Cricket</option>
                        <option value="20">Football</option>
                        <option value="30">Volleyball</option>
                        <option value="40">Hockey</option>
                        <option value="10">Local</option>
                        <option value="20">International</option>
                        <option value="30">Regional</option>
                        <option value="40">Politics</option>
                        <option value="10">Bollywood</option>
                        <option value="20">Hollywood</option>
                        <option value="30">Hindi Music</option>
                        <option value="40">English Music</option>
                        <option value="10">Food</option>
                        <option value="20">Travel</option>
                        <option value="30">Shopping</option>
                        <option value="10">Private</option>
                        <option value="20">Public</option>
                        <option value="30">Startup</option>
                    </select>    
                    </div>    
                    <input type ="submit" value="Search">
                </div>
            </form>
        </div>
    {% block content %}{% endblock %}
    </body>
</html>

<!--
<script type = "text/javascript">
    $select = $('#main_category');
    $.ajax({
        url: "",
        dataType: 'JSON',
        success:function(data){
            $.each(data, function (key, val) {
                $select.append('<option value ="' + val.id + '">' + val.main_category_model + '</option>');
            });
            getSubCategory();
        }
    });

    function getSubCategory(){
        $select = $('#sub_category');
        var m_id =($("select[name = 'Main_Category'] option:selected").attr('value'));
        m_id_url = "";
        f_url = m_id_url.replace( abc, m_id);
        $.ajax({
            url:f_url,
            dataType:'JSON',
            success:function (data1) {
                $select.html('');
                $.each.append('<option value ="' + val.id + '">' + val.sub_category_model + '</option>')
            }
        });
    }
</script>
-->